<button class="btn btn-lg btn-primary btn-block mb-1" (click) ="addDataInFirestore()">Add in Firestore</button>
<button class="btn btn-lg btn-primary btn-block mb-1" (click) ="getFirestoreData()">Get data FromFirestore</button>
<button class="btn btn-lg btn-primary btn-block mb-1" (click) ="updateCollection()">Update 0 index data</button>
<button class="btn btn-lg btn-primary btn-block mb-1" (click) ="deleteField()">Delete Field</button>
<button class="btn btn-lg btn-primary btn-block mb-1" (click) ="deleteCollection()">Delete Collection</button>

